@charset "UTF-8";

.bgimg {
  background-image: url('../img/forestbridge.jpg');
  min-height: 100%;
  background-position: center;
  background-size: cover;
}

.w3-display-container {
	position: relative
}

.w3-animate-opacity {
	animation: opac 0.8s
}

@keyframes opac {
	from {opacity: 0} to {opacity: 1}
}

.w3-text-white, .w3-hover-text-white:hover {
	color: #fff !important
}

.w3-display-topleft {
	position: absolute;
	left: 0;
	top: 0
}

.w3-padding-large {
	padding: 12px 24px !important
}

.w3-xlarge {
	font-size: 24px !important
}

.w3-display-middle {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%)
}

.w3-jumbo {
	font-size: 64px !important
}



.w3-animate-top {
	position: relative;
	animation: aa 0.4s
}

@keyframes aa {
	from { top: -300px;	opacity: 0}
	to {top: 0;	opacity: 1}
}

.w3-border-grey, .w3-hover-border-grey:hover, .w3-border-gray,
	.w3-hover-border-gray:hover {
	border-color: #9e9e9e !important
}

.w3-large {
	font-size: 18px !important
}

.w3-center {
	text-align: center !important
}

.w3-display-bottomleft {
	position: absolute;
	left: 0;
	bottom: 0
}

.w3-padding-large {
	padding: 12px 24px !important
}




